<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Coremob Camera</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="three columns sidebar">
      <nav>
        <img src="../img/2012-10-09_15.39.25-compressed.jpg" alt="Coremob Camera">
        <h1>Coremob Camera</h1>
        <ul>
          <li><a href="#things">things</a></li>
          <li><a href="#stuff">stuff</a></li>
          <li><a href="#etc">etc.</a></li>
        </ul>
      </nav>
      &nbsp;
    </div>
    <div class="twelve columns content offset-by-one">
      <div>
        {{ content }}
        {% include sharing.ext %}
      </div>
      <footer>
        <hr class="large" />
        <p>Illustrations by Tobie Langel | This site is licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 license</a>.</p>
      </footer>
    </div>
  </div>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36628437-1']);
    _gaq.push(['_setDomainName', 'coremob.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>